body {
  padding: 0;
  margin: 0px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
  
  background-color: #f2f2f2;
}

/* Общие правила. */

a {
  text-decoration: none;
}

p, h2, h3, ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

button {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  position: relative;
  
  max-width: 1200px;
  margin: 0 auto;
  
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 5px #e8e8e8;
          box-shadow: 0 0 5px 5px #e8e8e8;
}

/* Оформление главное картинки приветствия. */

.attraction {
  position: relative;
  
  height: 508px;
  
  text-align: center;
  
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 21%;
  background-color: #647888;
}

.attraction-tagline {
  width: 458px;
  height: 352px;
  margin-top: 76px;
}

/* Хэдер. Навигация. */

.head-navigation {
  line-height: 26px;
  font-weight: bold;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  
  display: block;
  
  -webkit-transform: translate(-50%);
  
      -ms-transform: translate(-50%);
  
          transform: translate(-50%);
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6%;
}

.navigation-list li:nth-child(1),
.navigation-list li:nth-child(2) {
  text-align: left;
}

.navigation-list li:nth-child(2) a {
  margin-left: 30px;
}

.navigation-list li:nth-child(3) a {
  margin-right: 32px;
}

.navigation-list li:nth-child(3) {
  margin-left: auto;
}

.navigation-list li:nth-child(3),
.navigation-list li:nth-child(4) {
  text-align: right;
}

.navigation-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 15px 0;
}

.navigation-link {
  color: #000000;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #81b3d2;
  
  outline: none;
}

.navigation-link:active {
  color: #000000;
  
  opacity: 0.3;
}

li.navigation-item.opened .navigation-link {
  color: #766357;
  
  opacity: 1;
}

/* Особенности. */

.features-text {
  padding-top: 60px;
  padding-bottom: 51px;
  margin: 0 auto;
  
  text-align: center;
  
  background-color: #ffffff;
}

.features-text h2 {
  width: 525px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.features-text p {
  line-height: 26px;
}

/* Маска на основную картинку. */

.attraction::before {
  position: absolute;
  bottom: 0px;
  
  display: block;
  width: 100%;
  height: 57px;
  content: "";
  
  background-image: url("../img/mask.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/* Список приемуществ. */

.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/* Номерные карточки. */

.feature-description {
  -ms-flex-preferred-size: 33.333333333%;
      flex-basis: 33.333333333%;
  padding-top: 47px;
  padding-bottom: 58px; /* Следует убрать + разобраться с серыми карточками. */
  
  text-align: center;
  color: #333333;
  
  background-color: #eeeeee;
}

.feature-description h2 {
  width: 160px;
  margin: 0 auto;
  
  font-size: 21px;
  font-weight: bold;
}

.feature-number {
  margin-top: 24px;
}

.feature-words {
  width: 70%;
  margin: 0 auto;
  margin-top: 21px;
}

.little-description {
  width: 76%;
}

.important {
  color: #ffffff;
  
  background-color: #81b3d2;
}

/* Изображения. */

.feature-image {
  -ms-flex-preferred-size: 66.6666666666%;
      flex-basis: 66.6666666666%;
  height: 256px;
  
  overflow: hidden;
  
  background-image: url("../img/feature-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 54%;
  background-size: cover;
  background-color: #b28e71;
}

.feature-2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  
  background-image: url("../img/feature-2.jpg");
  background-position: 50% 53%;
  background-color: #8e5c4a;
}

/* Безномерные карточки. */

.feature-item {
  position: relative;
  
  -ms-flex-preferred-size: 33.333333333%;
  
      flex-basis: 33.333333333%;
  padding-top: 56px;
  padding-bottom: 82px;
  
  text-align: center;
}

.feature-item h2 {
  margin-top: 27px;
  margin-bottom: 24px;
  
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-item p {
  width: 72%;
  margin: 0 auto;
}

.feature-item::before {
  display: block;
  width: 76px;
  height: 78px;
  margin: 0 auto;
  
  content: "";
  
  background-image: url("../img/svg-sedona/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/svg-sedona/icon-3.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/svg-sedona/icon-2.svg");
}

/* Поиск гостиниц. */

.hotel-search {
  position: relative;
  
  padding-top: 51px;
  
  text-align: center;
  
  background-color: #ffffff;
}

.hotel-search h2{
  margin-bottom: 28px;
  
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

/* Кнопка "Поиск гостиниц". */

.search-button {
  display: inline-block;
  width: 568px;
  padding: 30px 0px;
  margin: 0 auto;
  margin-top: 50px;
  
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #766357;
}

.hotel-search a:hover,
.hotel-search a:focus {
  background-color: #604e43;
}

.hotel-search a:active {
  background-color: #503e33;
  color: #8f8782;
}

/* Форма поиска. */

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;
  
  display: none;
  
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 2px #ccd6b8;
  
  animation-name: form-movie;
  animation-duration: 0.6s;
}

.search-form-show {
  display: block;
}

/* Стилизация всплывающего окна. */

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.search-item:nth-child(2) {
  margin-bottom: 29px;
}

.search-item label {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/* Дата приезда/выезда. */

.input-cal {
  position: relative;
  
  width: 346px;
}

.calendar {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 2;
  
  text-align: center;
  -webkit-transform: translate(40%, -50%);
      -ms-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  cursor: pointer;
  
  background-color: transparent;
  border: none;
  outline: none;
}

.calendar svg {
  fill: #b3b3b3;
  
  outline: none;
}

.calendar:hover svg,
.calendar:focus svg {
  fill: #000000;
}

.calendar:active path {
  fill: #a4c9df;
}

.arrival-date,
.date-of-departure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 38px;
  padding: 7px 10px;
  
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  
  background-color: #f2f2f2;
  border: none;
}

.search-item input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-item input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-item input::placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-item input::-moz-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-item input::-moz-placeholder {
  text-transform: uppercase;
  color: #000000;
}

/* Количество регестрируемых. */

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.search-section:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-section:first-child label {
  margin-right: 40px;
}

.search-section:last-child label {
  margin-right: 25px;
}

.search-branch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adults-number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;
  
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  
  background-color: #f2f2f2;
  border: none;
}

.arrival-date:hover,
.date-of-departure:hover,
.adults-number:hover {
  background-color: #ebebeb;
}

.arrival-date:focus,
.date-of-departure:focus,
.adults-number:focus {
  background-color: #ffffff;
  
  outline-color: #eeeeee;
  outline-width: 2px;
}

/* Кнопки "+" и "-". */

.branch-button {
  width: 38px;
  height: 38px;
  
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  
  background-color: #f2f2f2;
  border: none;
}

.branch-button:hover,
.branch-button:focus {
  color: #000000;
  
  background-color: #ebebeb;
  outline: none;
}

.branch-button:active {
  color: #81b3d2;
}

/* Кнопка "Найти". */

.item-button {
  width: 100%;
  padding: 16px;
  margin-top: 26px;
  
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.item-button:hover,
.item-button:focus {
  background-color: #669ec0;
}

.item-button:active {
  color: #88b6d1;
  
  background-color: #5496bd;
}

/* Форма поиска. Анимация. */

@keyframes form-movie {
  0% {
    transform: translate(-50%, -80px);
    opacity: 0;
  }
}

@keyframes form-error-shake {
  0%, 100% { transform: translate(-50%, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-53%, 0); }
  20%, 40%, 60%, 80% { transform: translate(-48%, 0); } 
}

.form-error {
  animation-name: form-error-shake;
  animation-duration: 0.6s;
}

/* Карта. */

.map {
  height: 593px;
  overflow: hidden;
  
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-color: #e0edbc;
}

/* Подвал. */

.footer-position {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  background: rgba(255, 255, 255, 0.9);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  padding: 36px 0;
  
  -webkit-box-align: center;
  
      -ms-flex-align: center;
  
          align-items: center;
}

.footer-visit {
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  text-align: center;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/* Социальные сети. */

.footer-social {
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.social-item {
  margin-right: 6px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  
  background-color: #81b3d2;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

/* HTML academy. */

.footer-logo {
  text-align: center;
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;

  line-height: 26px;
  color: #000000;
}

.footer-logo a {
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 8px;
  
  vertical-align: middle;
}

.footer-link-image:hover path,
.footer-link-image:focus path {
  fill: #81b3d2;
}

.footer-link-image:active path {
  fill: #bdbbbc;
}

/* Страница отелей. */

.hotels-background {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: 50% 17%;
  background-color: #425464;
}

.filter-list,
.result-list,
.hotel-list {
  list-style: none;
}

/* Список фильтров */

.filters form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 6%;
  padding-bottom: 33px;
}

.filter-section:nth-child(1) {
  margin-right: 116px;
}

.filter-section:nth-child(3) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-left: auto;
}

.filter-section,
.result-section {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-section legend {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filter-section label {
  color: #ffffff;
}

.filter-item label {
  display: block;
  padding-left: 40px;
  margin-top: 24px;
}

/* Контейнер с ползунком. */

.price-controls {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  margin-top: 10px;
  
  font-size: 0;
  
  border: 2px solid white;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  left: 50%;
  top: 15%;
  
  width: 2px;
  height: 22px;
  content: "";
  
  background: #ffffff;
}

.price-controls label {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 20%;
  
  font-size: 14px;
  vertical-align: top;
  
  cursor: pointer;
}

.price-controls label:last-child {
  padding-left: 15%;
}

.price-controls input {
  width: 50px;
  margin: 0;
  
  color: inherit;
  font: inherit;
  
  background: none;
  border: none;
  outline: none;
}

/* Адекватное отображение placeholder'а для различных браузеров. */

.price-controls input::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls input:-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls input::placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls input::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls input::-moz-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls input::-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

/* Сами ползунок. */

.range-controls {
  position: relative;
  
  margin-bottom: 32px;
}

.scale {
  margin-top: 20px;
  height: 2px;
  
  background: rgba(255,255,255,0.3);
}

.bar {
  width: 80%;
  height: 2px;
  
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -10px;
  
  width: 4px;
  height: 4px;
  
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px rgba(0, 1, 1, 0.2);
  
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
}

/* Кнопка. */

.filter-button {
  display: block;
  padding: 8px 34px;
  margin: 0 26%;
  
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  
  background: rgba(255, 255, 255, 1);
}

/* Стилизация чекбоксов. */

.filter-item label {
  position: relative;
  
  cursor: pointer;
}

.filter-item label::before {
  position: absolute;
  bottom: -1px;
  left: 0px;
  
  content: "";
  display: block;
  width: 27px;
  height: 23px;
  
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
}

input:checked+label::before {
  background-image: url("../img/svg-sedona/checkbox-on.svg");
}

input:focus~label {
  outline: 1px solid #81b3d2;
}

input:disabled~label {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

/* Фильтр результатов. */

.result-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 29px 6%;
  
  background-color: #ffffff;
  border-bottom: 2px solid #f6f6f6;
}

.results-filter h2 {
  width: 135px;
  margin-right: 30px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  margin-left: 0px;
}

.result-list-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
}

/* Стилизация сортировки. */

.result-list li:first-child {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.result-list a {
  margin-left: 35px;
  
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.result-list a:hover,
.result-list a:focus {
  color: #81b3d2;
  
  opacity: 1;
}

.result-list a:active {
  color: #000000;
  border: none;
  
  opacity: 1;
}

.result-option.selected a{
  color: #81b3d2;
  
  opacity: 1;
  border: none;
}

/* Карточки отелей. */

.hotel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 26px 6%;
  padding-bottom: 30px;
  
  border-bottom: 1px solid #f6f6f6;
}

/* Фотокарточка. */
  
.hotel-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-right: 30px;
}

/* Описание. */

.hotel-description {
}

.description-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-branch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description-branch b {
  margin-bottom: 15px;
}

.description-branch:nth-child(2) {
  margin-left: 6px;
}

/* Рейтинг. */

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.rating-branch:last-child {
  margin-top: auto;
  padding: 3px 14px;
  
  background-color: #f2f2f2;
}

.rating-branch:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-branch span {
  margin-left: 4px;
}

/* Стили карточек */

.hotel-description-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-description h3 {
  margin-bottom: 5px;
}

.hotel-description-link:hover,
.hotel-description-link:focus {
  color: #81b3d2;
}

.hotel-description-link:active {
  color: #000000;
  
  opacity: 0.3;
}

/* Карточки отелей. Кнопки. */

.info {
  display: inline-block;
  width: 110px;
  padding: 3px 0px;
  
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #81b3d2;
}

.info:hover,
.info:focus {
  background-color: #669ec0;
}

.info:active {
  background-color: #5496bd;
  color: #81b1ce;
}

.book-it {
  display: block;
  width: 142px;
  padding: 3px 0px;
  
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  
  background-color: #766357;
}

.book-it:hover,
.book-it:focus {
  background-color: #604e43;
}

.book-it:active {
  background-color: #503e33;
  color: #796b63;
}

/* Стрелочки */

.arrow {
  display: block;
  
  border: 11px solid #0074d9;
  border-right-width: 5px;
  border-left-width: 5px;
  border-color: #cacaca;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.arrow-up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 12px;
}

li .arrow-down.checked {
  border-top-color: #81b3d2;
}

.arrow-up:hover,
.arrow-up:focus,
.arrow-down:hover,
.arrow-down:focus {
  border-top-color: #231f20;
  outline: none;
}

.arrow-up:active,
.arrow-down:active {
  border-top-color: #81b3d2;
}

/* Звёздочки */

.stars {
  display: block;
  width: 18px;
  height: 18px;
  
  background-image: url("../img/svg-sedona/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}