body {
  padding: 0;
  margin: 0px;
  
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

/* Общие правила. */

a {
  text-decoration: none;
} 

p, h2, h3, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visual-hidden {
  padding: 0;
  margin: 0;
  visibility: visible;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  
  background-color: #ffffff;
}

/* Оформление главное картинки приветствия. */

.attraction {
  position: relative;
  
  padding-top: 75px;
  padding-bottom: 80px;
  
  text-align: center;
  
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 22%;
}

/* Хэдер. Навигация. */

.head-navigation {
  line-height: 26px;
  font-weight: bold;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  
  z-index: 1;
  
  transform: translate(-50%);
}

.navigation-list {
  display: flex;
  padding: 0 6%;
  margin: 0;
  justify-content: space-between;
}

  .navigation-list li:nth-child(1),
  .navigation-list li:nth-child(2) {
    text-align: left;
  }

  .navigation-list li:nth-child(3),
  .navigation-list li:nth-child(4) {
    text-align: right;
}

.navigation-item {
  list-style: none;
  flex-basis: 20%;
  
  padding: 16px 0;
}

.navigation-item a {
  color: #000000;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
  
  outline: none;
}

.navigation-item a:active {
  color: #000000;
  
  opacity: 0.3;
}

.navigation-item.opened a {
  color: #766357;
}

/* Особенности. */

.features-text {
  padding-top: 62px;
  padding-bottom: 44px;
  margin: 0 auto;
  
  text-align: center;
  
  background-color: #ffffff;
}

.features-text h2 {
  margin: 0 auto;
  margin-bottom: 31px;
  
  width: 525px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.features-text p {
  line-height: 26px;
}

/* Маска на основную картинку. */

.attraction::before {
  position: absolute;
  bottom: 0px;
  
  display: block;
  width: 100%;
  height: 57px;
  content: "";
  
  background-image: url("../img/mask.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Список приемуществ. */

.features-section {
  display: flex;
}

/* Номерные карточки. */

.feature-description {
  box-sizing: border-box;
  flex-basis: 33.333333%;
  height: 256px;
  
  padding: 0 5%;
  padding-top: 50px;
  padding-bottom: 56px;
  
  
  text-align: center;
  color: #333333;
  
  background-color: #eeeeee;
}

.feature-description h2 {
  width: 160px;
  margin: 0 auto;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature-description p {
  margin-top: 22px;
}

.important {
  flex-basis: 33.333333%;
  
  text-align: center;
  color: #ffffff;
  
  background-color: #81b3d2;
}

/* Изображения. */

.feature-image {
  flex-basis: 66.666666%;
  height: 256px;
  overflow: hidden;
  
  background-image: url(../img/feature-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.feature-2 {
  order: -1;
  background-image: url(../img/feature-2.jpg);
}

/* Безномерные карточки. */

.feature-item {
  position: relative;
  
  flex-basis: 33.333333%;
  padding: 0 6%;
  padding-top: 56px;
  padding-bottom: 50px;
  
  text-align: center;
}

.feature-item h2 {
  margin-top: 33px;
  margin-bottom: 28px;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-item::before {
  display: block;
  width: 76px;
  height: 76px;
  content: "";
  margin: 0 auto;
  
  background-image: url("../img/svg-sedona/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/svg-sedona/icon-3.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/svg-sedona/icon-2.svg");
}


/* Поиск гостиниц. */

.hotel-search {
  position: relative;
  
  text-align: center;
  padding-top: 55px;
  
  background-color: #ffffff;
}

.hotel-search h2{
  margin: 0;
  margin-bottom: 30px;
  
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

/* Кнопка "Поиск гостиниц". */

.search-button {
  display: block;
  width: 568px;
  padding: 35px 0px;
  margin: 0 auto;
  margin-top: 50px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #766357;
}

.hotel-search a:hover,
.hotel-search a:focus {
  background-color: #604e43;
}

.hotel-search a:active {
  background-color: #503e33;
  color: #8f8782;
}

/* Форма поиска. */

.search-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  
  background-color: azure;
}

/* Стилизация всплывающего окна. */

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.search-item label {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/* Дата приезда/выезда. */

.arrival-date,
.date-of-departure {
  box-sizing: border-box;
  padding: 14px 12px;
  flex-basis: 75%;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  
  background-color: #f2f2f2;
  border: none;
}

/* Количество регестрируемых. */

.search-section {
  box-sizing: border-box;
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-between;
}

.search-section:nth-child(2) {
  padding-left: 14%;
}

.search-branch {
  display: flex;
}

.adults-number {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  
  background-color: #f2f2f2;
  border: none;
}

.arrival-date:hover,
.date-of-departure:hover,
.adults-number:hover {
  background-color: #ebebeb;
}

.arrival-date:focus,
.date-of-departure:focus,
.adults-number:focus {
  background-color: #ffffff;
  
  outline-color: #eeeeee;
  outline-width: 2px;
}

/* Кнопки "+" и "-". */

.branch-button {
  width: 38px;
  height: 38px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  
  background-color: #f2f2f2;
  border: none;
}

.branch-button:hover,
.branch-button:focus {
  color: #000000;
  
  background-color: #ebebeb;
  outline: none;
}

.branch-button:active {
  color: #81b3d2;
}

/* Кнопка "Найти". */

.item-button {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  margin-top: 20px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.item-button:hover,
.item-button:focus {
  background-color: #669ec0;
}

.item-button:active {
  color: #88b6d1;
  
  background-color: #5496bd;
}

/* Карта. */

.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Подвал. */

.main-footer {
  display: flex;
  padding: 36px 6%;
  justify-content: space-between;
  align-items: center;
}

.footer-visit {
  padding-left: 14px;
  
  flex-basis: 33.333333%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/* Социальные сети. */

.footer-social {
  flex-basis: 33.333333%;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-item {
  display: flex;
  padding: 0 3px;
}

.social-item a{
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  
  background-color: #81b3d2;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active  {
  background-color: #5496bd;
}

/* HTML academy. */

.footer-logo {
  flex-basis: 33.333333%;
  display: flex;
  justify-content: center;
  
  line-height: 26px;
  color: #000000;
}

.footer-logo a {
  display: block;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.footer-logo a:hover .footer-link-image path,
.footer-logo a:focus .footer-link-image path {
  fill: #81b3d2;
}

.footer-logo a:active .footer-link-image path {
  fill: #bdbbbc;
}

/* Страница отелей. */

.hotels-background {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

/* Список фильтров */

.filters form {
  padding: 30px 6%;
  display: flex;
}

.filter-section {
  flex-basis: 33.3333333%;
}

.filter-section,
.result-section {
  border: none;
}

.cost-section {
  display: flex;
}

.cost-slider {
  display: flex;
  align-items: center;
}

.circle {
  border: 20px solid black;
  border-radius: 50%;
}

.cost-row {
  width: 100%;
  border-bottom: 2px solid black;
}

/* Стилизация фильтров. */

.filter-section legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter-input {
  position: relative;
  
  margin-bottom: 26px;
  margin-top: 24px;
}

.filter-input:before {
  content: "";
  position: absolute;
  left: 0px;
  
  display: block;
  width: 27px;
  height: 23px;
  
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-section label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-list,
.result-list,
.hotel-list {
  list-style: none;
}

/* Кнопка "Показать". */

.filter-button {
  width: 133px;
  height: 32px;
  
  color: #ffffff;
  text-align: center;
  
  background: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
}

.filter-button:hover {
  background: rgba(255, 255, 255, 1);
  color: #000000;
}

/* Фильтр результатов. */

.results-filter form {
  display: flex;
  padding: 28px 6%;
  align-items: center;
  justify-content: flex-start;
  
  background-color: #ffffff;
  border-bottom: 2px solid #f6f6f6;
}

.results-filter legend {
  flex-basis: 13%;
  margin-right: 30px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-list {
  display: flex;
  margin-left: 0px;
  flex-basis: 32%;
  justify-content: space-between;
  align-items: center;
}

.result-list-star {
  display: flex;
  flex-basis: 55%;
  justify-content: flex-end;
}

/* Стилизация сортировки. */

.result-list p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.result-list a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  
  opacity: 0.3;
}

.result-list a:hover,
.result-list a:focus {
  color: #81b3d2;
  
  opacity: 1;
}

.result-list a:active {
  color: #000000;
  
  opacity: 1;
}

.checked a {
  color: #81b3d2;
  
  opacity: 1;
}

/* Карточки отелей. */

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hotel-item {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 6%;
  
  border-bottom: 2px solid #f6f6f6;
}

.hotel-item > div {
  box-sizing: border-box;
  height: 90px;
}

/* Фотокарточка. */
  
.hotel-image {
  margin-right: 30px;
}

/* Описание. */

.hotel-description {
  flex-basis: 80%;
}

.description-section {
  display: flex;
}

.description-branch {
  display: flex;
  flex-direction: column;
}

.description-branch b {
  margin-bottom: 9px;
}

.description-branch:nth-child(2) {
  margin-left: 6px;
}

/* Рейтинг. */

.hotel-rating {
  flex-basis: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.rating-branch:last-child {
  align-self: flex-end;
}

/* Стили карточек */

.hotel-description-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-description h3 {
  margin-bottom: 5px;
}

.hotel-description-link:hover,
.hotel-description-link:focus {
  color: #81b3d2;
}

.hotel-description-link:active {
  color: #000000;
  
  opacity: 0.3;
}

/* Карточки отелей. Кнопки. */

.description-branch a {
  box-sizing: border-box;
  width: 110px;
  padding: 4px 0px;
  
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  
  background-color: #81b3d2;
}

.description-branch:nth-child(2) a {
  width: 142px;
  
  background-color: #766357;
}

.description-branch:nth-child(1) a:hover,
.description-branch:nth-child(1) a:focus {
  background-color: #669ec0;
}

.description-branch:nth-child(1) a:active {
  background-color: #5496bd;
  color: #81b1ce;
}

.description-branch:nth-child(2) a {
  display: block;
  width: 142px;
  padding: 4px 0px;
  
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  
  background-color: #766357;
}

.description-branch:nth-child(2) a:hover,
.description-branch:nth-child(2) a:focus {
  background-color: #604e43;
}

.description-branch:nth-child(2) a:active {
  background-color: #503e33;
  color: #796b63;
}

/* Рейтинг. Стили. */

.rating-branch:last-child {
  padding: 1px 12px;
  
  background-color: #f2f2f2;
}

/* Стрелочки */

.arrow-up-star a,
.arrow-down-star a {
  display: block;
  margin-left: 12px;
  
  border: 15px solid red;
  border-bottom-color: #cacaca;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 8px;
  border-left-width: 8px;
}

.arrow-down-star a {
  transform: rotate(180deg);
}

.arrow-up-star a:hover,
.arrow-up-star a:focus,
.arrow-down-star a:hover,
.arrow-down-star a:focus {
  border-bottom-color: #231f20;
  outline: none;
}

.arrow-up-star a:active,
.arrow-down-star a:active {
  border-bottom-color: #81b3d2;
}
